.footer {
  background-color: #0067a3;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  display: flex;
  justify-content: space-between;
  min-height: 55px;
  width: 100%;
}

.footer-tasks {
  display: inline-block;
}

.footer-tasks--active {
  display: inline-block;
  padding: 17px 18px 17px 21px;
}

.footer-tasks--finished {
  display: inline-block;
  padding: 17px 0 17px 18px;
}

.footer-name {
  display: inline-block;
  padding: 17px 19px 17px 0;
}
